.home-content {
  background-color: #375d979c;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.jumbotron {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  border-radius: 0;

  background-image: linear-gradient(
    rgb(10, 10, 10),
    rgb(10, 10, 10),
    rgb(10, 10, 10),
    rgb(56, 56, 56),
    rgb(10, 10, 10),
    rgb(10, 10, 10)
  );

  .top {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .home-logo {
      height: auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      img {
        width: 75%;
      }
      h1 {
        color: rgb(211, 211, 211);
        text-shadow: 4px 4px 2px black;
        font-size: 8vw;
        margin-top: -90px;
      }
    }
    .home-text {
      display: flex;

      flex-direction: column;
      justify-content: center;

      width: 50%;
      height: auto;
      animation: 1s ease-out 0s 1 slideInFromRight;
      p {
        color: rgb(165, 165, 165);
        text-shadow: 1px 1px 2px rgb(44, 44, 44);
        font-size: 2vw;
        margin-bottom: 30px;
      }
    }
  }
  .bottom {
    height: 60vh;
    width: 100%;

    display: flex;
    flex-direction: row;

    .featured-card {
      height: 100%;
      width: 30%;

      .card {
        height: 100%;
        min-width: 300px;
        max-width: 300px;
        border: 1px solid rgb(56, 56, 56);
        border-radius: 20px;
        margin: 0 auto;
        background-image: linear-gradient(
          to right,
          rgb(15, 15, 15),
          rgb(31, 31, 31)
        );
        box-shadow: -3px 3px 5px 5px;
        margin-top: -30px;
      }
    }
    .card-container {
      height: 100%;
      width: 70%;
      padding: 30px;
      display: flex;
      flex-direction: row;

      overflow-x: scroll;

      .card {
        height: 100%;
        min-width: 250px;
        border: 1px solid rgb(56, 56, 56);
        border-radius: 20px;
        margin-right: -30px;
        background-image: linear-gradient(
          to right,
          rgb(15, 15, 15),
          rgb(31, 31, 31)
        );
        box-shadow: -2px 2px 5px 5px;
      }
      .card:hover {
        z-index: 2;
        height: 102%;
        margin-top: -20px;

        transition: 0.3s ease-in-out;
      }
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
  img {
    width: 50%;
  }
  h1,
  p {
    color: rgb(165, 163, 163);
  }
  p {
    margin-top: -60px;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
  overflow-y: visible;
  h1 {
    text-align: center;
    color: rgb(214, 214, 214);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 40px;
  }
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 1280px) {
  .jumbotron {
    .top {
      .home-logo {
        img,
        h1 {
          margin-top: -50px;
        }
      }
      .home-text {
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .top {
    max-height: 50vh;
    .home-logo,
    .home-text {
      margin-top: -200px;
    }
  }
}

@media only screen and (max-width: 714px) {
  .jumbotron {
    .top {
      flex-direction: column;
      justify-content: start;
      .home-logo {
        margin-bottom: 50px;
        margin-top: 0;
        height: 40vh;
        width: 100vw;
        img {
          width: 60vw;
          margin-top: 0;
        }
        h1 {
          margin-top: -60px;
          font-size: 10vw;
        }
      }
      .home-text {
        margin-top: 0;
        height: 40vh;
        width: 100vw;
        text-align: center;
        p {
          font-size: 3vw;
        }
      }
    }
  }

  .jumbotron {
    height: auto;
    .bottom {
      flex-direction: column;
      align-items: center;
      height: 90vh;
      h1 {
      }
      .featured-card {
        width: 100vw;
        margin-top: o;
      }
      .card-container {
        width: 100vw;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron {
    .top {
      .home-logo {
        h1 {
          margin-top: -30px;
        }
      }
      .home-text {
        margin-top: -100px;
      }
    }
  }
}
