.profile-card-container {
  background-color: rgba(38, 38, 38, 0.865);
  position: absolute;
  top: 5em;
  right: 0;
  padding: 10px;
  z-index: 99;
  border-radius: 0px 0px 0px 10px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(152, 152, 152);
  img {
    border-radius: 50%;
    height: 200px;
  }
  h2 {
    padding: 10px;
  }
  p {
    padding: 8px;
  }
}
